@import 'antd/dist/antd.css';

/* @font-face{
    font-family: 'KoPub Dotum';
    font-weight: normal;
    src:url('./fonts/KoPubWorld Dotum Medium.ttf') format('truetype');
  }

  @font-face{
    font-family: 'KoPub Batang';
    font-weight: normal;
    src:url('./fonts/KoPubWorld Batang Medium.ttf') format('truetype');
  } */