
.category{
  position: absolute;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categorybutton1:hover{
  transition-duration: 0.6s;
  transform: translateY(-50px);
  /* height: 50%; */
}
.categorybutton2:hover{
  transition-duration: 0.6s;
  transform: translateY(-50px);
  /* height: 50%; */
}
.categorybutton3:hover{
  transition-duration: 0.6s;
  transform: translateY(-50px);
  /* height: 50%; */
}
.categorybutton4:hover{
  transition-duration: 0.6s;
  transform: translateY(-50px);
  /* height: 50%; */
}
:target{
  transform: translateY(-50px);
}

.categorybutton1{
  background: url( "../pictures/display.png" ) no-repeat;
  background-size: 70px;
  background-position: 50% 25%;
  border: 0;
  outline:0;
  width: 120px;
  height: 120px;
  padding: 13.4px 15.4px 8.4px 18.3px;
  border-radius: 27.5px;
  background-color: #ff8d93;
  margin-right:30px;
  text-align: center;
  line-height: 10rem;
  color: white;
  font-family: 'KoPub Dotum';
  font-size: large;
  font-weight: 400;
}
.categorybutton2{
  background: url( "../pictures/stage.png" ) no-repeat;
  background-size: 60px;
  background-position: 50% 25%;
  border: 0;
  outline:0;
  width: 120px;
  height: 120px; 
  padding: 13.4px 15.4px 8.4px 18.3px;
  border-radius: 27.5px;
  background-color: #ff8d93;
  margin-left: 30px;
  margin-right:30px;
  text-align: center;
  line-height: 10rem;
  color: white;
  font-family: 'KoPub Dotum';
  font-size: large;
  font-weight: 400;
}
.categorybutton3{
  background: url( "../pictures/haksul.png" ) no-repeat;
  background-size: 70px;
  background-position: 50% 25%;
  border: 0;
  outline:0;
  width: 120px;
  height: 120px;
  
  padding: 13.4px 15.4px 8.4px 18.3px;
  border-radius: 27.5px;
  background-color: #ff8d93;
  margin-left: 30px;
  margin-right:30px;
  text-align: center;
  line-height: 10rem;
  color: white;
  font-family: 'KoPub Dotum';
  font-size: large;
  font-weight: 400;
}
.categorybutton4{
  background: url( "../pictures/event.png" ) no-repeat;
  background-size: 70px;
  background-position: 50% 25%;
  border: 0;
  outline:0;
  width: 120px;
  height: 120px;
  padding: 13.4px 15.4px 8.4px 18.3px;
  border-radius: 27.5px;
  background-color: #ff8d93;
  margin-left: 30px;
  text-align: center;
  line-height: 10rem;
  color: white;
  font-family: 'KoPub Dotum';
  font-size: large;
  font-weight: 400;
}
.verticalLine {
  width: 0;
  height: 32px;
  margin: 67.1px 0 75.6px;
  border: solid 1px #49c2cb;
  background-color:#49c2cb;
}

.display{
  position: absolute;
  width: 300px;
  height: 480px;
  box-shadow: 4px 4px 5px 0 rgba(35, 31, 32, 0.4);
  background-color: #ffffff;
}
.displaytop{
  position: absolute;
  width: 300px;
  height: 62.3px;
  background-color: #ffffff;
}

.displayUpper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}
.displayCenter{
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 100px;
}